@import 'tailwindcss';

@theme {
  --font-lexend: 'Lexend', sans-serif;

  --color-custom-yellow: #fad007;
  --color-custom-black: #07070a;
  --color-custom-gray: #39393b;
  --color-custom-white-75: #f6f6f6;
}

@layer base {
  h1 {
    font-size: 3rem;
    line-height: 120%;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 900;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-custom-gray);
  }

  section {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
  }

  a,
  button {
    background-color: var(--color-custom-yellow);
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-custom-gray);
    display: flex;
    align-items: center;
    width: fit-content;
    align-self: center;
    gap: 0.5rem;
    font-size: 14px;
    line-height: 24px;
  }

  a:hover,
  button:hover {
    filter: brightness(0.8);
  }

  a:active,
  button:active {
    filter: brightness(0.5);
  }

  input,
  textarea {
    border-bottom: 1px solid var(--color-custom-yellow);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  label {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  ::placeholder {
    color: var(--color-custom-black);
  }

  @media (width >= 64rem) {
    h1 {
      font-size: 4rem;
    }
  }

  @media (width >= 80rem) {
    h1 {
      font-size: 6rem;
    }
  }
}

@layer utilities {
  .page {
    background-color: unset;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--color-custom-black);
    font-size: 1rem;
  }

  .current-page {
    background-color: var(--color-custom-yellow);
  }
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
  font-display: swap;
}
